.structure{
    background-color: black;
    display:inline-block;
    padding:5px;
    margin:auto;
}
.light {
width:100px;
width:100px;
border-radius:50%;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}

.glow {
    box-shadow: 5px 5px 5px 5px whitesmoke;
}